<div class="page-header">
  <h1><%=@template.name%></h1>
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class="panel-title">Cadastro</h3>
      </div>
      <table class='table'>
                <tr>
          <th class='text-right'>Nome</th>
          <td><%= @template.name %></td>
        </tr>
        <tr>
          <th class='text-right'>Mensagem</th>
          <td><%= @template.message %></td>
        </tr>
      </table>
      <div class='panel-footer'>
        <%= link_to edit_template_path(@template), class: 'btn btn-primary margin-right-sm' do %>
          Editar
        <% end %>
        <%= link_to templates_path, class: 'btn btn-default' do %>
          Voltar
        <% end %>
      </div>
    </div>
  </div>
</div>

