<div class="page-header">
  <h2>Listando <%= plural_table_name %> <%%= link_to new_<%= singular_table_name %>_path, class: 'btn btn-primary' do %>Novo<%% end %></h2>
</div>

<%% unless @<%= plural_table_name %>.empty? -%>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <%- attributes.each do |attribute| -%>
              <th><%= attribute.human_name %></th>
              <%- end -%>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
            <%- attributes.each do |attribute| -%>
              <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
            <%- end -%>
              <td class='text-right'>
                <%%= link_to 'Exibir', <%= singular_table_name %> if false %>
                <%%= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'margin-left-sm' %>
                <%%= link_to 'Remover', <%= singular_table_name %>, method: :delete, data: { confirm: 'Você confirma esta ação?' }, class: 'margin-left-sm' %>
              </td>
            <%% end %>
          </tbody>
        </table>
      </div>
      <div class='panel-footer'>
        <div class='row'>
          <div class='col-md-6 text-left'>
            <%%= page_entries_info @<%= plural_table_name%> %>
          </div>
          <div class='col-md-6 text-right'>
            <%%= paginate @<%=plural_table_name%> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%% else -%>
  <div class='row'>
    <div class='col-md-12'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <p class="lead text-center text-muted margin-top-xl margin-bottom-xl">Nenhum item encontrado.</p>
        </div>
      </div>
    </div>
  </div>
<%% end -%>
